*data
*_experiments
*notes
example.py
train_model.py
downloadlinks.txt
*__pycache__
utils/__pycache__
*.idea
src/__init__.py
*src/utils/__pycache/
*visualization
_experiments/app_v1
*/app_v1/
webapp
app/model
test
